import { {{pascalCase name }}Props } from './{{pascalCase name}}.types';
export default function {{pascalCase name}} (props: {{pascalCase name }}Props) {
  return (
    <div>{{pascalCase name}}</div>
  )
}